/*@font-face{
	font-family:'bebasregular'
	src: url('../font/bebas___-webfont.eot');
		 url('../font/bebas___-webfont.woff'); format('woff'),
		 url('../font/bebas___-webfont.ttf');
}*/
*{
	font-family:'Helvetica';
}
/*$color:#cd2e24;*/
a:hover{
	text-decoration:none;
}