a:hover{
	text-decoration:none;
}
$color:#cd2e24;
$colorfooter:white;
li{
	list-style: none;
}
section{
	margin-top:20px;
	margin-bottom:20px;
}
.fondoheader{
	background-color:#ff8f58;
	color:white;
}