section{
	.fix{
		display:inline-block;
		float:left;
		border:1px solid gray;
		img{
			width:100%;
		}
	}
	.fix1{
		padding-left:10px;
		h3{
			color:#cd2e24;
		}
	}	
}
section{
		.icono{
		margin:20px 0px 0px -10px;

		}

}
.imaH{
	width:100%;
}

